// 波浪夜间
.waves-area
  .parallax
    & > use
      &:first-child
        fill rgba(31,31,31,0.7)
      &:nth-child(2)
        fill rgba(31,31,31,0.5)
      &:nth-child(3)
        fill rgba(31,31,31,0.3)
      &:nth-child(4)
        fill #1f1f1f
